  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* mobile state */

.desktopView  {
	display: none;
}

#mainSection{
	min-height: 100vh;
	margin-bottom: -75px;
 }
 
 /* footer */

 #footerLeft {
	 display: none;
 }
 
 footer {
	 display: flex;
	 justify-content: space-between;
	 width: 100vw;
	 background-color: black;
	 height: 75px;
	 color: white;
 }

 #footerRight {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 width: 100vw;
	 height: 75px;
 }
 
#footerRight i {
	font-size: 40px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

 #footerRight i:hover {
	 color: rgb(218, 26,50);
 }
/* header */
 header {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 75px;
	 background-color: black;
 }

header .mobileView img {
	width: 90vw;
    height: 60px;
}

/* body */

.banner {
	background-image: url(../images/img_0.jpg);
	background-size: cover;
	height: 85vh;
	}

main .mobileView ul li {
    padding: 10px 0px;
	background-color: rgb(218, 26,50);
	text-align: center;
	margin: 10px 0px;
}

main .mobileView ul li a {
		color: white;
		text-decoration: none;
		font-size: large;
		font-weight: bold;
}

.mobileView .banner-text {
	display: flex;
	height:40vh;
	flex-direction: column;
	color: antiquewhite;
	justify-content: center;
	align-items: center;
	text-shadow: 0.1em 0.1em 0 hsl(200 50% 30% );
}

.mobileView .banner-text h1 {
font-size: 3.5rem;
margin-bottom: 5vh;
}

.mobileView .banner-text p {
text-align: center;
font-size: 2.5rem;
text-transform: capitalize;
}
/* desktop view starts here */
@media screen and (min-width: 400px) {
.mobileView { 
	display:none;
}

	.desktopView {
		display: block;

}
/* footer in desktop view */
#footerLeft {
	display: flex;
	align-items: flex-end;
	margin-left: 5px;
	margin-bottom: 10px;
	color: white;
}

#footerRight {
width: 30vw;
}

header{
	display: block;
	width: 100vw;
	height: 100px;
	background-color: black;
}

.warning {
	height: 25px;
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 0.5em;
}

.navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
}
#navLeft {
	margin-left: 4rem;
}

#navLeft img {
	width: 200px;
	height: 40px;
}

#navRight {
	margin-right: 4rem;
}
#navRight img {
	width: 130px;
	height: 35px;
}

#navMiddle {
	display: flex;
	}


nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	
}

nav ul li {
	background-color: rgb(218, 26,50);
	margin: 0px 2rem;
	padding: 8px 15px;
	text-align: center;
	border-radius: 10px;
	list-style-type: none;
	min-width:100px;
	transition: 0.2s ease-in-out;
	}

	nav ul li:hover {
	transform: scale(1.1);
	}
 





}